<div id="<%= dom_id class_room %>">
  <p>
    <strong>Name:</strong>
    <%= class_room.name %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= class_room.available %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= class_room.start_time %>
  </p>

</div>
