<div id="<%= dom_id rating %>">
  <p>
    <strong>Ratingid:</strong>
    <%= rating.ratingID %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= rating.userID %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= rating.productID %>
  </p>

</div>
